* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
/* GRID AQUI 👇 */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas:"h1 nav div";
  gap: 50px;
  padding: 0px;
}

header h1{
    background-color: red; 
    width: 250px;
}
header nav{
    background-color: aqua;
    text-align: center;
    width: 600px;
}
header div{
    background-color:brown;
    text-align: right;
    width:150px;
}